In [1]:
student={
    'name':'john cena',
    'class':'2nd',
    'rollno':21,
    'marks':90
    }
print(student)

{'name': 'john cena', 'class': '2nd', 'rollno': 21, 'marks': 90}

In [2]:
print(student['name'])
print(student['class'])

john cena
2nd

In [3]:
print(student.get('name'))
print(student.get('class'))
print(student.get('english'))

john cena
2nd
None

In [4]:
student['school'] = 'cms'
student['father'] = 'raja babu'
print(student)

{'name': 'john cena', 'class': '2nd', 'rollno': 21, 'marks': 90, 'school': 'cms', 'father': 'raja babu'}

In [5]:
student['class']='3rd class'
print(student)

{'name': 'john cena', 'class': '3rd class', 'rollno': 21, 'marks': 90, 'school': 'cms', 'father': 'raja babu'}

In [6]:
series = {
    'tittle':'person of interest',
    'total_seasons':5,
    'cast':['jim caviezel','others'],
    'ott':'Amazon Prime',
    'rating':9.8
}

In [8]:
for key in series:
    print(key)

tittle
total_seasons
cast
ott
rating

In [9]:
for key in series:
    print(key,series[key])

tittle person of interest
total_seasons 5
cast ['jim caviezel', 'others']
ott Amazon Prime
rating 9.8

In [10]:
for k,v in series.items():
    print(k,v)

tittle person of interest
total_seasons 5
cast ['jim caviezel', 'others']
ott Amazon Prime
rating 9.8